PORT=3000
# Utilisez DATABASE_URL ou les paramètres DB_* ci-dessous, mais pas nécessairement les deux.
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecole_rampard
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecole_rampard
DB_USER=postgres
DB_PASSWORD=postgres
DIRECTOR_PASSWORD=rampard-directeur
